.packages
.python-version
.use_feynman

__pycache__

/ltximg
/public

/src/appendix_*.py
/src/chapter_*.py
/src/chapter_*.sage
/src/continued_fractions.py
/src/scratch.py
/src/utils.py
/src/utils.sage
/src/utils_sage.py

/src/tangled.tar.gz
